<div class="mapmarkerinfo">
  <%= link_to boat_path(boat) do %>

  <div class="banner" id="banner-map" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.5)), url('<%= cl_image_path boat.photo if boat.photo? %>'); background-size: cover; width: 400px; height: 250px">
    <div class="card-img" >
    </div>
    <div>
      <h2><strong><%= boat.name %> </strong></h2>
      <p><strong><%= boat.address %></strong></p>
      <p><strong><%= truncate(boat.description,length: 30) %></strong></p>
      <h3><strong><%= boat.guests %> guests  - €<%= boat.price_day %> - <%= boat.boat_type %> </strong></h3>
    </div>
  </div>
  <% end %>
</div>
