
<h1><%=  @boat.name %> </h1>
<p> Guests: <%= @boat.guests %></p>
<p> Boat Type: <%= @boat.boat_type %></p>
<p> Address: <%= @boat.address %></p>
<p> Description: <%= @boat.description %></p>
<p> Price: <%= @boat.price_day %></p>
<p> <%= cl_image_tag @boat.photo, height: 300, width: 400, crop: :fill %> </p>


<%= link_to "List of boats", host_boats_path  %>

<% if policy(@boat).edit? %>
<%= link_to "Edit", edit_host_boat_path(@boat) %>
<% end %>

<% if policy(@boat).destroy? %>
<%= link_to "Delete", host_boat_path(@boat), method: :delete, data:{ confirm: "Are you sure?"} %>
<% end %>

