
<h1><%=  @boat.name %> </h1>
<p> Guests: <%= @boat.guests %></p>
<p> Boat Type: <%= @boat.boat_type %></p>
<p> Address: <%= @boat.address %></p>
<p> Description: <%= @boat.description %></p>
<p> Price: <%= @boat.price_day %></p>
<%= cl_image_tag(@boat.photo, height: 300, width: 400, crop: :fill) %>

<%= link_to "Book it", new_boat_booking_path(@boat)  %>

<%= link_to "Back Home", root_path  %>

